<h1>New Note</h1>

<body>
    <form action='/notes' method="POST">
        Content:
        <input type="text" name="content"><br>

        <br><br>
        Create Your Note:

        <input type="submit" name="submit" id="submit">
    </form>
</body>