<div class="home">
<h1>New Tag</h1><br>
    <body>
        <form action='/tags' method="POST" id="newform">
            <textarea rows="10" cols="40" name="title" form="newform" placeholder="Desc your tag here!"></textarea>
            <br>
            <textarea rows="1" cols="10" name="name" form="newform" placeholder="Name your tag here!"></textarea>
            <br>
            <input type="submit" name="submit" id="submit">
        </form>
    </body>
</div>