<div class="home">
<h1>Please create a new account</h1>
<br>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>
</div>