<!DOCTYPE HTML>
<html>
<head>
<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<style>
    body {
    box-sizing: border-box;
    padding-top: 10px; 
    background-color: gray;
    opacity: 90%;
    font-family: 'Raleway', sans-serif;
    color: white;
    }

    .list {
        text-align: left;
        padding: 20px;
        border: 1px solid;
    }

    .note {
        border: 1px solid;
    }

    .note-content {
        font-size: 20px;
        color: black;
    }

    .home {
        padding-top: 100px;
        text-align: center;
    }

    .home-buttons {
        padding: 50px;
    }

    .logout {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
    }

    .logout a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
    }

    .logout a:hover {
    background: white;
    border: 1px solid red;
    color: red;
    }



    

</style>

</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/notes">Note Taker</a>
    <div class="nav-collapse">
      <ul class="nav">
<!--           <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li> -->
        <li><a href="/notes/new">New Note</a></li>
        <li><a href="/notes">All Notes</a></li>
          </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar-inner -->
</div><!-- /.navbar -->

  
<%= yield %>

<!-- jQuery via Google + local fallback, see h5bp.com -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>


