<!DOCTYPE HTML>
<html>
<head>
<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700" rel="stylesheet">
<style>
    body {   
    box-sizing: border-box;
    padding-top: 10px; 
    background-color: rgba(0,0,0,0.2);
    opacity: 90%;
    font-family: 'Raleway', sans-serif;
    color: black;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.bypeople.com%2Fwp-content%2Fuploads%2F2014%2F05%2Flight-live-background-css.jpg&f=1&nofb=1"); 
    background-size: auto;
    background-repeat: repeat;
    }
    .container-fluid{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 2cm;
    }
    h1 {
        font-weight: 300;
    }

    h2 {
        font-weight: 300;
    }

    p {
        font-size: 20px;
        line-height: 30px;
    }

    input[type=submit] {
        color: #0088cc;
        text-decoration: none;
        padding: 2px 10px;
        font-size: 11.9px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        *display: inline;
        padding: 4px 12px;
        margin-bottom: 0;
        *margin-left: .3em;
        line-height: 20px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        *background-color: #e6e6e6;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #cccccc;
        *border: 0;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        *zoom: 1;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .list {
        text-align: left;
        padding: 20px;
    }

    .note {
        border: 1px solid;
    }

    .note-content a {
        background: gray;
        opacity: 90%;
        border: 1px solid white;
        border-radius: 3px;
        color: white;
        display: inline-block;
        margin: 10px;
        padding: 14px;
        text-decoration: none;
        font-weight: 300;
    }

    .note-content a:hover {
        background: red;
        border: 1px solid white;
        color: white;
    }

    .home {
        padding-top: 100px;
        text-align: center;
    }

    .home-buttons {
        padding: 50px;
    }

    .logout {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
    background: white;
    }

    .logout a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
    }

    .logout a:hover {
    background: white;
    border: 1px solid red;
    color: red;
    }
</style>

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"><a href="/notes"><h3>All</h3></a></div>
      <div class="col-sm"><a href="/notes/new"><h3>New</h3></a></div>
      <div class="col-sm"><a href="/tags"><h3>Tags</h3></a></div>
      <div class="col-sm"><a href="/logout"><h3>Logout</h3></a></div>
    </div>
  </div><!-- /.container-fluid -->

  
<%= yield %>

<!-- jQuery via Google + local fallback, see h5bp.com -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>


